<!-- signup.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Signin</title>
    <link rel="stylesheet" href="static/style3.css">
</head>
<body style="background-color: aliceblue;">
    <h1 style="position: absolute; left: 690px; top: 100px; font-size: 50px; color: rgb(4, 101, 62); font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;">EMAIL SPAM DETECTION</h1><br><br>

    <h1 style="position: absolute; left: 870px; top: 250px;">Signin</h1>
    <form method="POST" action="/signin" style="position: absolute; left: 780px;">
        <label for="username">Username</label>
        <input type="text" name="username" id="username" required><br><br>
        <label for="password">Password</label>
        <input type="password" name="password" id="password" required><br><br>
        <button type="submit">Login</button>
    </form>
    <p style="position: absolute; left: 850px; top: 600px;">New to the website? <a href="/signup">Sign up</a></p>
</body>
</html>
